<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
  <key>Label</key><string>com.landlordeasy.commander-runner</string>
  <key>ProgramArguments</key><array>
    <string>PYTHON_ABSOLUTE_PATH</string><string>RUNNER_SCRIPT_ABSOLUTE_PATH</string>
    <string>--config</string><string>OWNER_READABLE_CONFIG_ABSOLUTE_PATH</string><string>serve</string>
  </array>
  <key>RunAtLoad</key><true/>
  <key>KeepAlive</key><true/>
  <key>ProcessType</key><string>Background</string>
  <key>StandardOutPath</key><string>RUNNER_STATE_DIRECTORY/runner.out.log</string>
  <key>StandardErrorPath</key><string>RUNNER_STATE_DIRECTORY/runner.err.log</string>
</dict></plist>
